<html>

<body>

<ul>
    <li></li>
    <li></li>
    <li>


    </li>
</ul>

<div class="aaa">
    <div id="bbb"></div>
</div>

<ul class="ccc">
    <li></li>
    <li></li>
    <li>

    </li>
</ul>


<ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<div class="main">
    <div class="left">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<form action="q">

    <table border="0" cellspacing="5" cellpadding="5">
        <tr>
            <th>Header</th>
        </tr>
        <tr>
            <td>Data</td>
        </tr>
    </table>

    <form action="">


    </form>


</form>

snippet
div>div.c|div
<table border="0" cellspacing="5" cellpadding="5">
    <tr>
        <th>Header</th>
    </tr>
    <tr>
        <td>Data</td>
    </tr>
</table>

</body>

</html>